#scene {
  text-align: center;
}

#scene-image {
  max-width: 100%;
}

#options {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.scene-test {
  background-color: aqua;
  height: 20px;
}