* {
  margin: 0;
  padding: 0;
  font-family: pixelFont;
}
@font-face {
  font-family: pixelFont;
  src: url(/font-family/pixelFont.ttf);
}
#game-container {
  display: block;
}
#background-image {
  position: relative;
  background-color: lightpink;
  height: 30rem;
}
#character-icon {
  position: absolute;
  background-color: lightblue;
  height: 20rem;
}

#textbox {
  background-color: aqua;
}