* {
  margin: 0;
  padding: 0;
  font-family: pixelFont;
}

html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: pixelFont;
  src: url(/font-family/pixelFont.ttf);
}
#default-setting {
  min-height: 100vh;
  background-color: bisque;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#default-setting h1 {
  font-size: 24px;
}
.welcome {
  font-size: 12px;
}
#whole-game {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  display: block;
  min-height: 100vh;
  background-color: aqua;
}
#background-image {
  position: relative;
  height: 30rem;
}
#character-icon {
  position: absolute;
  height: 20rem;
}

#textbox {
  background-color: aqua;
}